.search-input {
  width: 100%;
  max-width: 350px;

  padding: 11px 16px;

  border-radius: var(--radius-sm);
  border: 1px solid var(--border);

  font-size: 14px;

  transition: var(--transition);
}

.search-input:focus {
  outline: none;
  border-color: var(--primary);
}