.topbar{

    height:65px;

    background:white;

    border-bottom:1px solid #ddd;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

}

.topbar-left{

    display:flex;

    align-items:center;

    gap:15px;

}

.menu-icon{

    cursor:pointer;

    font-size:20px;

}

.search-box{

    width:400px;

    background:#f3f2f1;

    border-radius:6px;

    padding:10px 15px;

    display:flex;

    align-items:center;

    gap:10px;

}

.search-box input{

    border:none;

    background:transparent;

    width:100%;

    outline:none;

}

.topbar-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.profile{

    display:flex;

    flex-direction:column;

    align-items:flex-end;

}

.icon{

    cursor:pointer;

    font-size:18px;

}